.search-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.header {
    background: #A3D0C3;
    padding: 30px 0;
}

.header input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.header button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 62px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header button:before {
    content: "Search";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.footer button {
    width: 142px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 5px;
    cursor: pointer;
}

.footer button:before {
    content: "More photos...";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}